html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/fond/skate-inversed-colors.jpg);
  background-size: cover;
}

header img {
  padding-left: 30px;
  padding-top: 20px;
}

h1 {
  color: #d3ce00;
  font-family: 'Vina Sans', sans-serif;
  font-size: 49px;
  line-height: 42px;
  letter-spacing: 2px;
  padding: 0 45px 5px;
  margin-top: -65px;
  margin-left: 10px;
}

header a {
  color: #00ff80;
  font-family: 'Vina Sans', sans-serif;
  font-size: 24px;
  padding: 0 6px 17px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 6px 17px;
}

main {
  background-color: #151900;
  background-image: url(../img/fond/pattern-blue.png);
  background-size: contain;
}

h2,
h3 {
  font-family: 'Vina Sans', sans-serif;
  text-align: end;
  font-size: 37px;
  padding-right: 46px;
}

p,
li,
h4 {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

p {
  margin: 0 46px 30px;
  line-height: 27px;
}

ul { 
  list-style: none;
}

li {
  margin-bottom: 35px;
  margin-right: 46px;
  line-height: 25px;
}

.test {
  display: inline-block;
  text-align: left;
}

.titre-image {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 10px;
}

.decoupage {
  max-width: 250px;
}

.separation {
  display: flex;
  justify-content: space-around;
  padding: 0 36px
}

.separation img {
  max-width: 67px;
}

.section-food p,
h4 {
  text-align: center;
}

.section-festival {
  color: #d3cd80;
}

.section-graffiti {
  color: #d080ff;
}

.section-skate {
  color: #ff996c;
}

.section-musique {
  color: #ff6982;
}

.section-food {
  color: #b1fcc3;
}

.section-contact {
  color: #33fff9;
}

footer {
  background-color: #051e36;
}
