html {
  scroll-behavior: smooth;
  background-color: #000000f7;
}

body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/fond/skate-inversed-colors.jpg);
  background-size: cover;
}

header img {
  padding-left: 30px;
  padding-top: 20px;
}

h1 {
  color: #d3ce00;
  font-family: 'Vina Sans', sans-serif;
  font-size: 49px;
  line-height: 42px;
  letter-spacing: 2px;
  padding: 0 45px 5px;
  margin-top: -65px;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 6px 17px;
}

header a {
  color: #00ff80;
  font-family: 'Vina Sans', sans-serif;
  font-size: 24px;
  padding: 0 6px 17px;
}

main {
  background-color: #151900;
  background-image: url(../img/fond/pattern-blue.png);
  background-size: contain;
}

h2 {
  font-family: 'Vina Sans', sans-serif;
  text-align: end;
  font-size: 37px;
  padding-right: 46px;
}

p {
  margin: 0 46px 30px;
  line-height: 27px;
}

p,
li {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

ul { 
  list-style: none;
}

li {
  margin-bottom: 35px;
  margin-right: 46px;
  line-height: 25px;
}

.section-food img {
  align-self: flex-end;
  max-width: 190px;
}

.titre-image {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 10px;
}

.decoupage {
  max-width: 250px;
}

.separation {
  display: flex;
  justify-content: space-around;
  margin: 0 36px 40px;
}

.separation img {
  max-width: 67px;
}

.section-festival {
  color: #d3cd80;
}

.section-graffiti {
  color: #d080ff;
}

.section-skate {
  color: #ff996c;
}

.section-musique {
  color: #ff6982;
}

.section-food {
  color: #b1fcc3;
}

}

}

.photos {
  display: flex;
  flex-direction: column;
}

.festival-graffiti,
.festival-musique,
.portrait-closeup,
.skate-normal,
.musique-crowd {
  align-self: flex-end;
}

.photos img {
  max-width: 230px;
  margin: 0 46px 46px;
}

.photos-festival img {
  border: 10px solid #000;
  border-image: url(../img/festival/border-yellow.png) round;
  border-image-slice: calc(50 / 184 * 100%) calc(80 / 284 * 100%) fill;
}

.photos-graffiti img {
  border: 10px solid #000;
  border-image: url(../img/graffiti/border-purple.png) round;
  border-image-slice: calc(50 / 184 * 100%) calc(80 / 284 * 100%) fill;
}

.photos-skate img {
  border: 10px solid #000;
  border-image: url(../img/skate/border-orange.png) round;
  border-image-slice: calc(50 / 184 * 100%) calc(80 / 284 * 100%) fill;
}

.photos-musique img {
  border: 10px solid #000;
  border-image: url(../img/musique/border-red.png) round;
  border-image-slice: calc(50 / 184 * 100%) calc(80 / 284 * 100%) fill;
}

.flex-foodtrucks {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.foodtruck {
  align-self: flex-end;
}

.foodtruck img {
}

.separation-left {
  transform: rotate(120deg)
}

.separation-right {
  transform: rotate(240deg)
}

footer {
  background-color: #051e36;
  background-image: url(../img/fond/pattern-black.png);
  background-size: cover;
}

.social-media-logo {
  max-width: 46px;
  padding: 0 26px 40px;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
